<!DOCTYPE html>
<html>
<head>
  <title>Flaskr</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
  <div class="container">
    <h1>Mon blog de test !</h1>

    <div class="metanav">
      {% if not session.logged_in %}
        <a class="btn btn-success" role="button" href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% if session.logged_in %}
      <form action="{{ url_for('add_articles') }}" method="post" class="add-articles form-group">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="titre" class="form-control col-sm-4"></dd>
          <dt>Text:</dt>
          <dd><textarea name="contenu" rows="5" cols="40" class="form-control col-sm-4"></textarea></dd>
          <dd><input type="submit" class="btn btn-primary" value="Share"></dd>
        </dl>
      </form>
    {% endif %}

    <ul class="articles">
      {% for article in articles %}
        <li><h2 id="{{ article.id }}">{{ article.titre }}</h2>
          {{ article.contenu|safe }}</li>
      {% else %}
        <li id="no-content"><em>Aucun article pour le moment</em></li>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>