<!DOCTYPE html>
<html>
<head>
  <title>Flaskr</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="page">
    <h1>Mon blog de test !</h1>

    <div class="metanav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

    {% if session.logged_in %}
      <form action="{{ url_for('add_articles') }}" method="post" class="add-articles">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="titre"></dd>
          <dt>Text:</dt>
          <dd><textarea name="contenu" rows="5" cols="40"></textarea></dd>
          <dd><input type="submit" value="Share"></dd>
        </dl>
      </form>
    {% endif %}

    <ul class="articles">
      {% for article in articles %}
        <li><h2 id="{{ article.id }}">{{ article.titre }}</h2>
          {{ article.contenu|safe }}</li>
      {% else %}
        <li id="no-content"><em>Aucun article pour le moment</em></li>
      {% endfor %}
    </ul>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>